{%- include 'breadcrumb' -%}
<style>
  .register-login input,.register-login select{
    border: 1px solid #000000;
    border-radius: 5px;
    height: 44px;
    margin-bottom: 20px;
  }

  .register-login { margin:0 auto;flex-direction: column;max-width: 442px;margin-bottom: 90px;padding: 0; }
  .register-login .register-title{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 35px 0;
  }
  .register-login .half-input{
   width: calc(50% - 3px);
    display: inline-block;
	}
  .register-login .left-half {
  }
  .register-login .right-half {
    margin-left: 2px;
  }
  .register-login .accepts_marketing_wrap {
    font-weight: 350;
    font-size: 14px;
    line-height: 23px;
    text-align: left;
    margin: 4px 0 30px 0;
  }
  .register-login .register-btn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    background: #000000;
    color:#fff;
    width:100%;
  }

  @media only screen and (max-width: 1024px){
    .register-login{
      padding: 0 16px;
      margin-bottom: 45px;
    }
    .register-login .register-title{
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      margin: 0 0 20px 0;
    }
    .register-login .half-input{
    	width:100%;
    }
    .register-login .right-half {
      margin-left: 0px;
    }
     .register-login input,.register-login select{
      margin-bottom: 15px;
    }
    .register-login .accepts_marketing_wrap{
      font-weight: 350;
      font-size: 12px;
      line-height: 19px;
      margin: 0px 0 26px 0;
    }
  }
  

</style>
<div class="page-width register-login">   
  	<h1 class="page-title text-center register-title">{{ 'customer.register.page_title' | t }}</h1>
	<div class="login-register" style="margin:auto;">
          <div class="form-vertical">
            {%- assign formId = 'RegisterForm' -%}
        	{% form 'create_customer', id: formId, novalidate: 'novalidate' %}
              {% include 'form-status', form: form, form_id: formId %}
              <!--<label for="FirstName">{{ 'customer.register.first_name' | t }}</label>-->
              <input class="half-input left-half" type="text" name="customer[first_name]" placeholder="{{ 'customer.register.first_name' | t }}" id="FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autofocus>

              <!--<label for="LastName">{{ 'customer.register.last_name' | t }}</label>-->
              <input class="half-input right-half" type="text" name="customer[last_name]" placeholder="{{ 'customer.register.last_name' | t }}" id="LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>

              <!--<label for="Email">{{ 'customer.register.email' | t }}</label>-->
              <input type="email" name="customer[email]" id="{{ formId }}-email" placeholder="{{ 'customer.register.email' | t }}" class="{% if form.errors contains 'email' %} input--error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} required autocorrect="off" autocapitalize="off">

              <!--<label for="CreatePassword">{{ 'customer.register.password' | t }}</label>-->
              <input type="password" name="customer[password]" placeholder="{{ 'customer.register.password' | t }}" id="{{ formId }}-password" class="{% if form.errors contains 'password' %} input--error{% endif %}" required>
            
              <!--<label for="birthday">Date of Birth</label>-->
              <input id="birthday" style="color:#ababab;" type="text" value="" placeholder="Date of Birth" name="customer[note][birthday]" onfocus="(this.type='date')"
        onblur="(this.type='text')" required />
            
              <!--<label for="gender">Gender(optional)</label>-->
              <select id="gender" name="customer[note][Gender]" style="color:#ababab;"  value="">
                <option value="" selected:disabled style="diaplay:none;color:#ababab;">Gender(optional)</option>
                <option value="male">male</option>
                <option value="female">female</option>
              </select>
             
            <p class="accepts_marketing_wrap">
  				<label for="accepts_marketing">
                  <input type="hidden" name="customer[accepts_marketing]" value="" />
  					<input type="checkbox" id="accepts_marketing" name="customer[accepts_marketing]" class="custCheck" checked="checked" />
               		<span class="checkbox"></span>{{ 'customer.register.accepts_marketing' | t }}
               </label>
			 </p>

              <input class="register-btn" type="submit" value="{{ 'customer.register.submit' | t }}" class="btn">
            {% endform %}          
        </div>
    </div>
</div>
<script type="text/javascript">
 window.addEventListener('DOMContentLoaded',function(){
    // can not get jquery there
    $("#birthday").on('change',function(){
      /**console.log('value',$(this).get(0).value);**/
      if (!$(this).get(0).value){
      	 $(this).css({color: '#ababab'}); //默认颜色
        $(this).attr('type','text');
      }else{
         $(this).css({color: '#454545'}); //选中后颜色
      }
 
    });
    $("#gender").on('change',function(){
      if($(this).val() !== "" ) {
        $(this).css({color: '#454545'}); //选中后颜色
      } else {
        $(this).css({color: '#ababab'}); //默认颜色
      }
    });
});
</script>