<div class="pageCnt page-width text-center">
  {% comment %}<a href="{{ pages.privacy-policy.url }}">11222111</a>{% endcomment %}
  <h2>INTRODUCING THE SOLADO AFFILIATE AND AMBASSADOR PROGRAMME.</h2>
  <p>CLICK TO FIND OUT MORE ABOUT OUR PROGRAMMES.</p>
  <div class="society-content-btn-box mb-3">
    <a class="btn" href="#AFFILIATEPROGRAMME">AFFILIATE PROGRAMME</a>
    <a class="btn" href="#AMBASSADORPROGRAMME">AMBASSADOR PROGRAMME</a>
  </div>
  <h1 class="society-content-green desk-hide">Become an Affiliate</h1>
  <div id="AFFILIATEPROGRAMME" class="society-content-image-text-box d-flex justify-content-center">
    <div class="society-content-image-text-box-left">
      {%- assign img_url1 = section.settings.topImage | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <img class="lazyload js" src="{{ section.settings.topImage | img_url: '50x' }}"
           data-src="{{ img_url1 }}" data-widths="[360, 540, 720, 900, 1080, 1296]"
           data-aspectratio="{{ section.settings.image.aspect_ratio }}" data-sizes="auto"
           alt="{{ section.settings.image.alt | escape }}">
    </div>
    <div class="society-content-image-text-box-right">
      <h1 class="society-content-green phone-hide">Become an Affiliate</h1>
      <p class="fs29">SOLADO IS A FASHION AND SOCIAL DRIVEN BRAND, INSPIRED BY YOU. AT SOLADO <strong> WE WANT TO BUILD
          A COMMUNITY THAT OFFERS A SPACE FOR EVERYONE.</strong></p>
      <p class="fs29"><strong>WE ARE FOR YOU, WE ARE FOR THEM, WE ARE FOR EVERYONE.</strong></p>
    </div>
  </div>
  <h1 class="society-content-green mt-4">Why join our affiliate programme?</h1>
  <p class="fs29">Why not? You can earn cash when your audience shops with SOLADO.</p>
  <p class="fs29">Here's the lowdown:</p>
  <div class="society-content-icon-box ">
    <div class="society-content-icon-box-item">
      {%- render 'icon', icon: 'society-content-xianjin', class: 'society-content-green' -%}
      <p>Earn up to 15% commission on sales you drive</p>
    </div>
    <div class="society-content-icon-box-item">
      {%- render 'icon', icon: 'society-content-shouji', class: 'society-content-green' -%}
      <p>BBoosted commissions for most engaged affiliates or around key launches</p>
    </div>
    <div class="society-content-icon-box-item">
      {%- render 'icon', icon: 'society-content-paizhao', class: 'society-content-green' -%}
      <p>New imagery monthly to keep your content fresh</p>
    </div>
    <div class="society-content-icon-box-item">
      {%- render 'icon', icon: 'society-content-yijia', class: 'society-content-green' -%}
      <p>Regular communication on best sellers, trends, new launches and latest offers</p>
    </div>
    <div class="society-content-icon-box-item">
      {%- render 'icon', icon: 'society-content-xinhao', class: 'society-content-green' -%}
      <p>Access to reporting to track and optimise your performance </p>
    </div>
    <div class="society-content-icon-box-item">
      {%- render 'icon', icon: 'society-content-binggan', class: 'society-content-green' -%}
      <p>30 day cookie period</p>
    </div>
  </div>
  <h1 class="society-content-green mt-3">how do i sign up?</h1>
  <p class="fs29">It's simple! If you have a website, blog or social media following, with an interest in all things
    fashion and SOLADO, just follow these steps:</p>
  <div class="society-content-step-box swiper-container-top">
    <div class="swiper-wrapper">
      <div class="society-content-step-box-item swiper-slide">
        <h1 class="society-content-green">1.</h1>
        <p>Click the link below to join our affiliate programme</p>
      </div>
      <div class="society-content-step-box-item swiper-slide">
        <h1 class="society-content-green">2.</h1>
        <p>Await approval - this can take up to 7 days but sometimes less</p>
      </div>
      <div class="society-content-step-box-item swiper-slide">
        <h1 class="society-content-green">3.</h1>
        <p>Create your affiliate links (very simple using Awin's Link Builder)</p>
      </div>
      <div class="society-content-step-box-item swiper-slide">
        <h1 class="society-content-green">4.</h1>
        <p>Drive traffic to SOLADO by posting as much content as you like</p>
      </div>
      <div class="society-content-step-box-item swiper-slide">
        <h1 class="society-content-green">5.</h1>
        <p>Generate sales and get paid commission</p>
      </div>
    </div>
    <div class="swiper-pagination-top"></div>
  </div>
  <div class="society-content-login-box">
    <h1>so, what you waiting for?</h1>
    <a class="btn" href="https://ui.awin.com/merchant-profile/28141">sign me up now</a>
  </div>
  <div class="society-content-the-lega my-2">
    <h1 class="society-content-green">the legal bit</h1>
    <p class="fs16">
      PLEASE ENSURE YOU
      <a href="{{ pages.privacy-policy.url }}" style="text-decoration: underline;" class="society-content-green">READ OUR PROGRAMME TERMS AND CONDITIONS</a>
    </p>
    <p class="fs16">TO ENSURE YOUR AFFILIATE IS COMPLIANT.</p>
  </div>
  <h1 class="society-content-pink desk-hide">Become an ambassador</h1>
  <div id="AMBASSADORPROGRAMME" class="society-content-image-text-box d-flex justify-content-center">
    <div class="society-content-image-text-box-left">
      {%- assign img_url1 = section.settings.bottomImage | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <img class="lazyload js" src="{{ section.settings.bottomImage | img_url: '50x' }}"
           data-src="{{ img_url1 }}" data-widths="[360, 540, 720, 900, 1080, 1296]"
           data-aspectratio="{{ section.settings.bottomImage.aspect_ratio }}" data-sizes="auto"
           alt="{{ section.settings.bottomImage.alt | escape }}">
    </div>
    <div class="society-content-image-text-box-right">
      <h1 class="society-content-pink phone-hide">Become an ambassador</h1>
      <p class="fs29">What's the difference between an ambassador and an affiliate?</p>
      <p class="fs29">Well, there's some overlap (i.e. both will earn commission using Awin tracking links) but an
        ambassador will act more like an influencer/ content creator and will receive monthly gifted product in exchange
        for set monthly deliverables promoting Solado via their social channels e.g. Instagram, TikTok & YouTube. </p>
    </div>
  </div>
  <h1 class="society-content-pink mt-4">Why join our aMBASSADOR programme?</h1>
  <div class="society-content-icon-box society-content-icon-box-bottom">
    <div class="society-content-icon-box-item ">
      {%- render 'icon', icon: 'society-content-xianjin', class: 'society-content-pink' -%}
      <p>Earn a minimum of 15% commission on every sale you drive for Solado!</p>
    </div>
    <div class="society-content-icon-box-item ">
      {%- render 'icon', icon: 'society-content-shouji', class: 'society-content-pink' -%}
      <p>Regular opportunities to receive boosted commissions, as high as 30%, </p>
    </div>
    <div class="society-content-icon-box-item ">
      {%- render 'icon', icon: 'society-content-yijia', class: 'society-content-pink' -%}
      <p>Monthly communications on latest campaign launches, trending products and what to push in your content </p>
    </div>
    <div class="society-content-icon-box-item ">
      {%- render 'icon', icon: 'society-content-paizhao', class: 'society-content-pink' -%}
      <p>Chance for your content to be reposted across Solado social channels</p>
    </div>
    <div class="society-content-icon-box-item ">
      {%- render 'icon', icon: 'society-content-xinhao', class: 'society-content-pink' -%}
      <p>Access to Awin reporting to track and optimize your performance</p>
    </div>
    <div class="society-content-icon-box-item ">
      {%- render 'icon', icon: 'society-content-liwu', class: 'society-content-pink' -%}
      <p>Receive 2-4 new gifted items per month to create your content</p>
    </div>
    <div class="society-content-icon-box-item ">
      {%- render 'icon', icon: 'society-content-aixin', class: 'society-content-pink' -%}
      <p>Chance to be invited to exclusive ambassador/influencer events</p>
    </div>
    <div class="society-content-icon-box-item">
      {%- render 'icon', icon: 'society-content-xunzhang', class: 'society-content-pink' -%}
      <p>CompetitionS to win higher commission, vouchers or brand experiences e.g. Internships, event invites or your own edit </p>
    </div>
  </div>
  <h1 class="society-content-pink mt-4">WHAT DO WE NEED FROM YOU?</h1>
  <p class="fs29">All we ask for in return is: </p>
  <div class="society-content-step-box swiper-container-bottom">
    <div class="swiper-wrapper">
      <div class="society-content-step-box-item swiper-slide">
        <h1 class="society-content-pink">1.</h1>
        <p>Two pieces of social content per month featuring the gifted product you will receive, focused around the
          brand talking points for that month</p>
      </div>
      <div class="society-content-step-box-item swiper-slide">
        <h1 class="society-content-pink">2.</h1>
        <p>Paid usage rights on any content you create</p>
      </div>
      <div class="society-content-step-box-item swiper-slide">
        <h1 class="society-content-pink">3.</h1>
        <p>a Minimum of 2k followers</p>
      </div>
    </div>
    <div class="swiper-pagination-bottom"></div>
  </div>
  <h1 class="society-content-pink mt-3">HOW DO I SIGN UP?</h1>
  <p class="fs29">Click the link below to enter your email address and a link to your social
    channels. We will then review your application and get back to you!  </p>
  <div class="society-content-login-box society-content-login-box-bottom">
    <h1>so, what you waiting for?</h1>
    <a class="btn" href="{{ pages.society-form.url }}">sign me up now</a>
  </div>
  {% comment %}<div class="klaviyo-form-YAuq5D"></div>{% endcomment %}
</div>
<style>
    #shopify-section-{{ section.id }} {
        text-transform: uppercase;
        background: url({{ 'societybg.png' | asset_url}}) no-repeat 50% 50%/cover;
    }
    #shopify-section-{{ section.id }} .pageCnt{
        padding-top: 20px;
    }
    #shopify-section-{{ section.id }} p {
        font-size: 19px;
    }
    #shopify-section-{{ section.id }} h1 {
        font-size: 40px;
    }

    #shopify-section-{{ section.id }} h2 {
        font-size: 34px;
    }

    #shopify-section-{{ section.id }} .fs29 {
        font-size: 26px;
    }

    #shopify-section-{{ section.id }} .fs16 {
        font-size: 16px;
    }

    #shopify-section-{{ section.id }} .flex-4 {
        flex: 25% !important;
    }

    #shopify-section-{{ section.id }} .btn {
        border-radius: 0;
        margin: 10px 15px;
    }

    #shopify-section-{{ section.id }} .society-content-green {
        color: #35775D;
    }

    #shopify-section-{{ section.id }} .society-content-pink {
        color: #FF70CA;
    }

    #shopify-section-{{ section.id }} img {
        width: 100%;
    }

    #shopify-section-{{ section.id }} .btn {
        font-size: 18px;
        padding: 1rem 2rem;
    }

    #shopify-section-{{ section.id }} .society-content-image-text-box .society-content-image-text-box-left {
        width: 38%;
        margin-right: 5%;
    }

    #shopify-section-{{ section.id }} .society-content-image-text-box .society-content-image-text-box-right {
        width: 38%;
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    #shopify-section-{{ section.id }} .society-content-icon-box {
        display: flex;
        flex-wrap: wrap;
    }

    #shopify-section-{{ section.id }} .society-content-icon-box .society-content-icon-box-item {
        flex: 33%;
        padding: 3rem;
    }

    #shopify-section-{{ section.id }} .society-content-icon-box-bottom .society-content-icon-box-item {
        flex: 25%;
        word-break: break-word;
    }

    #shopify-section-{{ section.id }} .society-content-icon-box .society-content-icon-box-item svg {
        width: 10rem;
        height: 10rem;
    }

    #shopify-section-{{ section.id }} .society-content-step-box {
        display: flex;
        flex-wrap: wrap;
    }

    #shopify-section-{{ section.id }} .society-content-step-box .society-content-step-box-item {
        flex: 16%;
        padding: 1rem;
        word-break: break-word;
    }

    #shopify-section-{{ section.id }} .swiper-pagination {
        display: none;
    }

    #shopify-section-{{ section.id }} .my-bullet-active-green {
        background: #35775D;
        opacity: .8;
    }
    #shopify-section-{{ section.id }} .my-bullet-active-pink {
        background: #FF70CA;
        opacity: .8;
    }

    #shopify-section-{{ section.id }} .society-content-login-box {
        background: #35775D;
        padding: 3rem;
        margin-top: 1rem;
    }

    #shopify-section-{{ section.id }} .society-content-login-box-bottom {
        background: #FF70CA;;

    }

    #shopify-section-{{ section.id }} .society-content-login-box h1 {
        color: #FFFFFF;
    }

    #shopify-section-{{ section.id }} .society-content-login-box .btn {
        font-size: 24px;
        color: #000;
        background: #fff;
        border: none;
        padding: 1rem 4rem;
    }
    body[id = 'society-content'] .site-footer {
        margin-top: 0px !important;
    }
    @media Screen and (max-width: 1024px) {
        #shopify-section-{{ section.id }} h1 {
            font-size: 18px;
        }

        #shopify-section-{{ section.id }} h2 {
            font-size: 16px;
        }

        #shopify-section-{{ section.id }} .fs29 {
            font-size: 14px;
        }

        #shopify-section-{{ section.id }} .fs16 {
            font-size: 12px;
        }

        #shopify-section-{{ section.id }} h3, #shopify-section-{{ section.id }} .h3 {
            font-size: 13px;
        }

        #shopify-section-{{ section.id }} p {
            font-size: 12px;
        }

        #shopify-section-{{ section.id }} .btn {
            font-size: 12px;
            padding: .5rem 1rem;
        }

        #shopify-section-{{ section.id }} .society-content-image-text-box {
            flex-wrap: wrap;
        }

        #shopify-section-{{ section.id }} .society-content-image-text-box .society-content-image-text-box-left {
            width: 100%;
            margin-right: 0;
        }

        #shopify-section-{{ section.id }} .society-content-image-text-box .society-content-image-text-box-right {
            width: 100%;
        }

        #shopify-section-{{ section.id }} .society-content-icon-box .society-content-icon-box-item {
            flex: 50%;
            padding: .5rem;
        }

        #shopify-section-{{ section.id }} .society-content-icon-box .society-content-icon-box-item svg {
            width: 5rem;
            height: 5rem;
        }

        #shopify-section-{{ section.id }} .society-content-step-box {
            display: block;
        }

        #shopify-section-{{ section.id }} .society-content-step-box .society-content-step-box-item {
            flex: none;
            width: 100%;
            padding: 1rem 1rem 2rem;
        }

        #shopify-section-{{ section.id }} .swiper-pagination {
            display: block;
        }

        #shopify-section-{{ section.id }} .society-content-login-box {
            padding: 1rem;
        }

        #shopify-section-{{ section.id }} .society-content-login-box .btn {
            font-size: 12px;
            border: none;
            padding: .5rem 1.5rem;
        }
    }
</style>
<script>
    !function () {
        window.addEventListener('DOMContentLoaded', function () {
            document.querySelector('footer').style.marginTop = '0px'
            if ($(window).width() < 1025) {
                let swiperContainersTop = document.querySelector('#shopify-section-{{ section.id }} .swiper-container-top')
                let swiperTop = new Swiper(swiperContainersTop, {
                    autoplay: {
                        delay: 3000,
                    },
                    pagination: {
                        el: '.swiper-pagination-top',
                        bulletActiveClass: 'my-bullet-active-green',
                    },
                    loop: true,
                })
                let swiperContainersBottom = document.querySelector('#shopify-section-{{ section.id }} .swiper-container-bottom')
                let swiperBottom = new Swiper(swiperContainersBottom, {
                    autoplay: {
                        delay: 3000,
                    },
                    pagination: {
                        el: '.swiper-pagination-bottom',
                        bulletActiveClass: 'my-bullet-active-pink',
                    },
                    loop: true,
                })
            }

        })
    }()
</script>
{% schema %}
{
"name": "society-content",
"class": "index-section",
"settings": [
{
"type": "image_picker",
"id": "topImage",
"label": "Top Image"
},
{
"type": "image_picker",
"id": "bottomImage",
"label": "bottom Image"
}
],
"presets": [
{
"name":"society-content"
}
]
}
{% endschema %}